/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background: #000;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
  position:relative;
  max-width: 100%;

}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  background: green;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
header {
  position:relative;
}

.box-header {

}

a {
font-size: 15px;
}

.text-uppercase {
  text-transform: uppercase;
}

.box-header {
  position:absolute;
  display: inline-block;
  float:left ;
}

.figure-header {
  position: relative;
  display: inline-block;
}

.image-header {
  position:absolute;
  display: inline-block;
  float: left;
  width: 40px;
  left:700px;
  bottom: -24px;
}

.background-1-p {
  position: absolute;
  float:left;
  max-width: 100%;
}

.text-1 {
 position: absolute;
 text-align: center;
 float:left;

 left: 360px;
 bottom: -300px;
 color:white;
}

.text-2 {
 position: absolute;
 display: inline-block;
 text-align: center;
 float:left;
 color:white;
 left:8px;
 max-width: 100%;
}

.text-3 {
 position: absolute;
 display: inline-block;
 text-align: center;
 float:left;
 color:black;
 left:8px;
 max-width: 100%;
}


#first-bottom a {
  position:absolute;
  margin: 15px;
  padding: 10px 7px;
  right: 208px;
}

.background-1 {
  background: #ff6666;
  display: inline-block;
  float:left ;
  height: 479px;
  left: 90px;
  top: 479px;

}

.list-services {
  width: 33%;
  display:inline-block;
  float:left;

}


.imagen-service {
  height: 150px;
}


.background-2-p {
  position: absolute;
  float:left;
  width: 50%;
  height: 500px;
  left: 280px;
  top: 200px;

}

.background-2 {
  background: #fff;
  display: inline-block;
  float:left ;
  height: 1000px;
  left: 90px;
  top: 479px;
  position:relative;

}

.work-1-6 {
  position: absolute;
  display: inline-block;
  float: left;
  color: #fff;

}
#bg-work-1 {
  width: 870px; height: 720px;
  background: url('assets/images/css_sprites.png') -30px -30px;
  z-index :10;
  font-size:100px;
}

li {
  display: inline-block;
  float:left;
}

.front {
  position: relative;
  display: inline-block;
  z-index :1;
  top: 1200px;
  float:left;
  left: -550px;
}


background-3 {
display: inline-block;
float:left ;
height: 1000px;
left: 90px;
top: 479px;
position:relative;
}


.front {
  padding: 0;
  margin:0;
  float:left;
  max-width: 100%;
  box-sizing: border-box;
}
.caja {
    width: 170px;
    height: 170px;
    outline: 1px solid green ; es una ayuda visual
    padding: 0px;

    border: 1px solid #999;
    margin: 4px;
    position:absolute;
    box-sizing: border-box;
    float: left;
    display: inline-block;
}

.caja-position-1 {
left: -350px;
      box-sizing: border-box;
      float: right;
      position: absolute;
}

.caja-position-2 {
left: -250px;
      box-sizing: border-box;
      float: right;
      position: absolute;
}


.caja-position-3 {
right:  -150px;
      box-sizing: border-box;
      float: right;
      position: absolute;
}

img {
    max-width: 100% ;
    float:left;
    position: absolute;
    box-sizing: border-box;
    position: absolute;
}

.caja-text {
    float: left;
    position: absolute;
    box-sizing: border-box;
    bottom: -50px;
}
